* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --green: #004d00;
    --green-light: #dbe5d3;
}

body {
  font-family: "owners-wide", sans-serif;
  background: white;
  color: var(--green);
  margin: 0;
  overflow-x: hidden;
}

.title {
  font-size: 4rem;
  margin: 4rem 7rem 0rem 0rem;
  text-align: right;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem;
  justify-content: space-around;

}

.card {
  width: 360px;
  background: var(--green-light);
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.cards .card:hover {
  transform: scale(1.03) translateY(5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.svg-map, .featuredcard, .coordinates-featured {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

.featuredcard {
  width: 360px;
  background: var(--green-light);
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  transition: all 0.3s ease;
}

.featuredcard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-container {
  position: relative;
}

.card-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.card-image-featured {
  height: 200px;
}

.text-overlay {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  padding: 0 10px;
}

.text-overlay .mountain-name {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: right;
}

.text-overlay .coordinates {
  margin-top: 5px;
  font-size: 1rem;
  text-align: right;
}


.card-top {
  padding: 1rem;
}

.mountain-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.coordinates {
  font-size: 0.9rem;
  font-weight: 800;
  color: #ffffff;
  line-height: 0.1;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background: var(--green-light);
  font-weight: 600;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Hero section */

.hero {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100vw;
  color: var(--green);
  padding: 5%;
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  font-size: clamp(3rem, 8vw, 12rem);
  font-weight: 800;
  line-height: 0.9;
  margin: 0;
  text-align: right;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.svg-map {
  width: 48%;
}

.dropdown-info {
  width: 48%;
  margin-top: 2rem;
  text-align: right;
}

.dropdown-info label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--green);
  display: block;
  margin-bottom: 0.3rem;
}

select {
  width: 36%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 2px solid var(--green);
  border-radius: 4px;
  background-color: white;
  border-color: var(--green);
  color: var(--green);
}

select:focus {
  outline: none;
  border-color: var(--green);
  color: var(--green);
}

.map-container {
  margin-top: 2rem;
  max-width: 100%;
  text-align: center;
  align-items: center;
}

.karte {
  max-width: 100%;
  min-height: 600px;
}

.canton-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--green);
  margin-top: 1rem;
  text-align: right;
}

#featured-mountain {
  margin-top: 2rem;
  display: flex;
  justify-content: right;
}

.coordinates-featured {
  font-size: 2rem;
  font-weight: 800;
  color: var(--green);
  line-height: 0.1;
  text-align: right;
}

.div-column {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.kanton-highlight {
  fill: #1c5329 !important;
  stroke-width: 1;
}

.marker {
  fill: black;
  opacity: 0.8;
  stroke: white;
  stroke-width: 1.17;
}

.marker-highlight {
  fill: white !important;
  opacity: 1 !important;
}

 #kanton {
    width: 60%; 
    font-size: 1rem;
  }

  .site-footer {
  background-color: var(--green-light);
  color: var(--green);
  padding: 2rem;
  text-align: left;
  margin-top: 4rem;
  font-size: 1rem;
  

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer .footer-content {
  margin: 0.3rem 0;

}

.icon-top {
  font-size: 70px;
  text-decoration: none;
  color: var(--green);
  transition: 400ms;
}

.icon-top:hover {
  transform: scale(1.2);
  color: #ffffff;
}

.kantonsflaeche:hover {
  fill: var(--green);
}

#home-logo {
  text-decoration: none;
  color: var(--green);
}

@media screen and (max-width: 460px) {

  .svg-map,
  .dropdown-info {
    width: 100%;
  }

  .grid-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .dropdown-info label {
    font-size: 1.5rem;
  }

  #kanton {
    width: 90%;
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.8rem;
    margin: 1rem 0 1rem 0;
    text-align: center;
  }

  .cards {
    padding: 2rem;
  }

  .coordinates-featured {
    display: none;
    color: var(--green);
  }

  .card {
    width: 280px;
    background: var(--green-light);
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
  }

  .card {
    width: 100%;
  }

.kanton-hover {
  fill: #4b7b5c !important;
}

  .kanton-hover:hover {
  fill: #4b7b5c;
}
}